<launch>
  <!-- Whole flight-safety module: observe (L1+L2) + response (L3, KILL AUTHORITY) + estimator mux. -->
  <include file="$(find flight_safety)/launch/observe.launch"/>
  <include file="$(find flight_safety)/launch/response.launch"/>
  <include file="$(find flight_safety)/launch/vision_pose_mux.launch"/>
</launch>
